.drink-card-container {
  border-radius: 10px;
  background: url('../img/Drink - Featured Drink.png');
  background-size: cover;
}

.drink-price-container {
  margin-top: 70px;
  padding-bottom: 5px;
  border-radius: 10px;
  color: #5ADE7D;
  line-height: 1;
}

.drink-card-body {
  padding: 0;
}

.drink-price {
  font-size: 36px;
  font-family: barlowSemiBold;
}

.featured-drink {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: -10px;

}

.drink-title {
  font-size: 47px;
}

.drink-card-titles {
  margin-top: 60px;
  color: white;
}

.featured-collapse-bottom {
    margin-left: -1px;
    width: 540px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    margin-bottom: -2px;
    border-bottom: 1px;
    border: grey solid 1px;
}