.drink-card-container {
  border-radius: 10px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/shoes.jpg);
  background-size: cover;
}

.drink-price-container {
  margin-top: 57px;
  padding-bottom: 5px;
  border-radius: 10px;
  color: #5ADE7D;
  line-height: 1;
}

.drink-card-body {
  padding: 0;
}

.drink-price {
  font-size: 47px;
  font-family: barlowSemiBold;
}

.featured-drink {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: -10px;

}

.drink-title {
  font-size: 47px;
}

.drink-card-titles {
  margin-top: 60px;
  color: white;
}