.landing-card {
    border-radius: 10px;
    margin: 13px 24px;
    width: 552px;
    height: 170px;
    float: left;
    background-size: cover;
    position: relative;
}

.food-hero {
    background: url("../img/food-hero.jpg");
}

.drinks-hero {
    background: url("../img/drinks-hero.jpg");
}

.bills-hero {
    background: url("../img/bills-hero.jpg");
}

.service-hero {
    background: url("../img/service-hero.jpg");
}

.landing-card__text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 4px 8px;
    color: white;
    margin: 0;
}
