.clear-table-hero {
    background: url("../img/service-hero.jpg");
}

.water-hero {
    background: url("../img/service-hero.jpg");
}

.waiter-hero {
    background: url("../img/service-hero.jpg");
}