<div id="animation-wrapper" class="animated fadeIn">
    <div class="logo">
        <a href="/"><button class="btn btn-outline-secondary btn-md float-left mt-3 ml-3">Back</button></a>
        <div style="height: 100%;" class="d-flex align-items-center">
                <img id="user-img" style="margin-right: 15px; margin-left: 100px;" src="../img/Jamie Jamieson.png" width="50px" height="50px" />
                <h3 id="user-name" style="flex: 1; font-size: 30px; color: #707070; margin:0;">Jamie Jamieson</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Your Bill</h1>
                <hr />
            </div>
        </div>

        <!-- Drinks -->
        <div class="row">
            <div class="col-6">
                <h3>
                    Drinks
                </h3>
            </div>
            <div class="col-3 text-center">
                <h3>
                    Quantity
                </h3>
            </div>
            <div class="col-3 text-right">
                <h3>
                    Price
                </h3>
            </div>
        </div>
        <div id="drinks"></div>

        <!-- Food -->
        <div class="row mt-4">
            <div class="col-6">
                <h3>
                    Food
                </h3>
            </div>
            <div class="col-3">
            </div>
            <div class="col-3">
            </div>
        </div>
        <div id="foods"></div>

        <!-- Discount -->
        <div class="row my-4">
            <div class="col">
                <div class="row">
                    <div class="col d-flex align-items-end">
                        <h3 style="margin: 0; font-size: 26px;">
                            Discount
                        </h3>
                    </div>
                    <div class="col d-flex align-items-end justify-content-end">
                        <span class="price-text green">5.12</span>
                    </div>
                </div>
                <hr style="margin-top: 4px;" />
            </div>
        </div>

        <!-- Sub total -->
        <div class="row my-4">
            <div class="col">
                <div class="row">
                    <div class="col d-flex align-items-end">
                        <h3 style="margin: 0; font-size: 26px;">
                            Subtotal
                        </h3>
                    </div>
                    <div class="col d-flex align-items-end justify-content-end">
                        <span class="price-text"><span id="subTotal"></span></span>
                    </div>
                </div>
                <hr style="margin-top: 4px;" />
            </div>
        </div>

        <!-- Tip % -->
        <div class="row my-4">
            <div class="col">
                <div class="row">
                    <div class="col d-flex align-items-end">
                        <h3 style="margin: 0; font-size: 26px;">
                            Tip %
                        </h3>
                    </div>
                    <div class="col d-flex align-items-end justify-content-end">
                        <span class="price-text">18%</span>
                    </div>
                </div>
                <hr style="margin-top: 4px;" />
            </div>
        </div>

        <!-- Total Amount -->
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col d-flex align-items-end">
                        <h1 style="margin: 0;">
                            Total Amount
                        </h1>
                    </div>
                    <div class="col d-flex align-items-end justify-content-end">
                        <span class="promo-text">$<span id="totalAmount"></span></span>
                    </div>
                </div>
                <hr style="border: 2px solid black; margin-top: 4px;" />
            </div>
        </div>

        <!-- Share / Bill -->
        <div class="row mt-4">
            <div class="col">
                <a href="transferBill" data-route class="btn btn-block btn-outline-dark">AIRDROP</a>
            </div>
            <div class="col">
                <a href="payment" data-route class="btn btn-block btn-outline-dark green green-border">PAY</a>
            </div>
        </div>

    </div>

</div>