<div id="animation-wrapper" class="animated fadeIn">
        <div class="logo">
            <a href="/" data-route>
                <button class="btn btn-lg btn-success mt-2 ml-2">Back</button>
            </a>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Your Payment</h1>
                    <hr />
                </div>
            </div>
    
            <!-- Drinks -->
            <div class="row my-5">
                <div class="col text-center">
                    <img src="../img/Checkmark.png" />
                </div>
            </div>
            <div class="row my-5">
                <div class="col text-center price-text">
                    Payment Confirmed <br />
                    Visit again soon
                </div>
            </div>
    
            <!-- Total Amount -->
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col d-flex align-items-end">
                            <h1 style="margin: 0;">
                                Total Amount
                            </h1>
                        </div>
                        <div class="col d-flex align-items-end justify-content-end">
                            <span class="promo-text">$74.11</span>
                        </div>
                    </div>
                    <hr style="border: 2px solid black; margin-top: 4px;" />
                </div>
            </div>
    
            <!-- Share / Bill -->
            <div class="row mt-5">
                <div class="col">
                    <a href="landing" data-route class="btn btn-block btn-outline-dark green green-border">HOME</a>
                </div>
            </div>
    
        </div>
    
    </div>