<div id="animation-wrapper" class="animated fadeIn">
    <div class="logo">
        <a href="/"><button class="btn btn-outline-secondary btn-md float-left mt-3 ml-3">Back</button></a>
        <div style="height: 100%;" class="d-flex align-items-center">
                <img id="user-img" style="margin-right: 15px; margin-left: 100px;" src="../img/Jamie Jamieson.png" width="50px" height="50px" />
                <h3 id="user-name" style="flex: 1; font-size: 30px; color: #707070; margin:0;">Jamie Jamieson</h3>
        </div>
    </div>
    <div class="container">
        <div class="my-4"></div>
        <div class="row">
            <div class="col-12">
                <div class="card drink-card-container">
                    <div class="card-body drink-card-body" style="padding-left:15px; padding-right: 15px;" onclick="collapseFeatured()" onmousedown="collapseFeatured()" data-toggle="collapse" data-target="#featuredCollapse">
                        <div class="float-left drink-card-titles col-9" style="padding-left: 0">
                            <h5 class="featured-drink small">Featured Item</h5>
                            <h4 class="drink-title font-weight-bold featured-title" id="featured-title">White Russian</h4>
                        </div>
                        <div class="card col-3 float-right drink-price-container text-center">
                            <div class="drink-price" id="featured-price">3.99</div>
                            <div class="subtitle">10% off</div>
                        </div>
                    </div>


                    <div class="collapse" id="featuredCollapse">
                        <div class="card-body featured-collapse-bottom">
                            <div class="float-left">
                                <div id="featured-description"></div>
                                <h4 class="mt-2 mb-0">Quantity &nbsp;&nbsp;&nbsp; 
                                    <span onclick="decrementFeatured()" style="cursor:pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                        viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve" width="40px" height="19px">
                                            <path d="M37.059,16H26H16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16h10h11.059C39.776,26,42,23.718,42,21  S39.776,16,37.059,16z"
                                                fill="#707070" />
                                        </svg>
                                    </span> 
                                    <span id="featuredAmount">01</span> 
                                    <span onclick="incrementFeatured()">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;" xml:space="preserve" width="40px" height="20px">
                                        <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69
                                        			C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69
                                                    s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z" fill="#707070"/>
                                        </svg>
                                    </span></h4>
                            </div>

                            <div class="float-right"><button id="startConfetti" class="btn btn-outline-success mt-4" onclick="orderFeaturedDrink()">ORDER</button></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>

        <div class="my-4"></div>
        <div class="row">
            <div class="col-12">
                <h3>Alcoholic</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-12 ripple list-ripple" onclick="collapseFood(0)">
                <div class="float-left">
                    <h4 class="data-title">Product Title</h4>
                    <h5 class="data-description">Product Description</h5>
                </div>
                <div class="float-right text-right">
                    <h4 class="font-weight-bold data-price">6.79</h4>
                    <h5 style="color:#5ADE7D" class="data-discount">20% off</h5>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-12">
                <div class="collapse mt-4" id="collapse0">
                    <div class="float-left">
                        <h4 class="mt-2 mb-0">Quantity &nbsp;&nbsp;&nbsp;
                            <span onclick="decrementFood(0)" style="cursor:pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                    id="Capa_1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;"
                                    xml:space="preserve" width="40px" height="19px">
                                    <path d="M37.059,16H26H16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16h10h11.059C39.776,26,42,23.718,42,21  S39.776,16,37.059,16z"
                                        fill="#707070" />
                                </svg>
                            </span>
                            <span id="foodAmount0">01</span>
                            <span onclick="incrementFood(0)">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;"
                                    xml:space="preserve" width="40px" height="20px">
                                    <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69
                                                                                                C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69
                                                                                                s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z"
                                        fill="#707070" />
                                </svg>
                            </span></h4>
                    </div>
        
                    <div class="float-right"><button id="startConfetti" class="btn btn-outline-success" onclick="order(0, 'drink')">ORDER</button></div>
                    <div class="clearfix"></div>
                </div>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-12 ripple list-ripple" onclick="collapseFood(1)">
                <div class="float-left">
                    <h4 class="data-title">Product Title</h4>
                    <h5 class="data-description">Product Description</h5>
                </div>
                <div class="float-right text-right">
                    <h4 class="font-weight-bold data-price">6.79</h4>
                    <h5 style="color:#5ADE7D" class="data-discount">20% off</h5>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-12">
                <div class="collapse mt-4" id="collapse1">
                    <div class="float-left">
                        <h4 class="mt-2 mb-0">Quantity &nbsp;&nbsp;&nbsp;
                            <span onclick="decrementFood(1)" style="cursor:pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                    id="Capa_1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;"
                                    xml:space="preserve" width="40px" height="19px">
                                    <path d="M37.059,16H26H16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16h10h11.059C39.776,26,42,23.718,42,21  S39.776,16,37.059,16z"
                                        fill="#707070" />
                                </svg>
                            </span>
                            <span id="foodAmount1">01</span>
                            <span onclick="incrementFood(1)">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;"
                                    xml:space="preserve" width="40px" height="20px">
                                    <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69
                                                                                                        C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69
                                                                                                        s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z"
                                        fill="#707070" />
                                </svg>
                            </span></h4>
                    </div>
        
                    <div class="float-right"><button id="startConfetti" class="btn btn-outline-success" onclick="order(1, 'drink')">ORDER</button></div>
                    <div class="clearfix"></div>
                </div>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-12 ripple list-ripple" onclick="collapseFood(2)">
                <div class="float-left">
                    <h4 class="data-title">Product Title</h4>
                    <h5 class="data-description">Product Description</h5>
                </div>
                <div class="float-right text-right">
                    <h4 class="font-weight-bold data-price">6.79</h4>
                    <h5 style="color:#5ADE7D" class="data-discount">20% off</h5>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-12">
                <div class="collapse mt-4" id="collapse2">
                    <div class="float-left">
                        <h4 class="mt-2 mb-0">Quantity &nbsp;&nbsp;&nbsp;
                            <span onclick="decrementFood(2)" style="cursor:pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                    id="Capa_1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;"
                                    xml:space="preserve" width="40px" height="19px">
                                    <path d="M37.059,16H26H16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16h10h11.059C39.776,26,42,23.718,42,21  S39.776,16,37.059,16z"
                                        fill="#707070" />
                                </svg>
                            </span>
                            <span id="foodAmount2">01</span>
                            <span onclick="incrementFood(2)">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;"
                                    xml:space="preserve" width="40px" height="20px">
                                    <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69
                                                                                                        C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69
                                                                                                        s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z"
                                        fill="#707070" />
                                </svg>
                            </span></h4>
                    </div>
        
                    <div class="float-right"><button id="startConfetti" class="btn btn-outline-success" onclick="order(2, 'drink')">ORDER</button></div>
                    <div class="clearfix"></div>
                </div>
                <hr />
            </div>
        </div>

        <div class="my-4"></div>
        <div class="row">
            <div class="col-12">
                <h3>Non-Alcoholic</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-12 ripple list-ripple" onclick="collapseFood(3)">
                <div class="float-left">
                    <h4 class="data-title">Product Title</h4>
                    <h5 class="data-description">Product Description</h5>
                </div>
                <div class="float-right text-right">
                    <h4 class="font-weight-bold data-price">6.79</h4>
                    <h5 style="color:#5ADE7D" class="data-discount">20% off</h5>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-12">
                <div class="collapse mt-4" id="collapse3">
                    <div class="float-left">
                        <h4 class="mt-2 mb-0">Quantity &nbsp;&nbsp;&nbsp;
                            <span onclick="decrementFood(3)" style="cursor:pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                    id="Capa_1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;"
                                    xml:space="preserve" width="40px" height="19px">
                                    <path d="M37.059,16H26H16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16h10h11.059C39.776,26,42,23.718,42,21  S39.776,16,37.059,16z"
                                        fill="#707070" />
                                </svg>
                            </span>
                            <span id="foodAmount3">01</span>
                            <span onclick="incrementFood(3)">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;"
                                    xml:space="preserve" width="40px" height="20px">
                                    <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69
                                                                                                        C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69
                                                                                                        s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z"
                                        fill="#707070" />
                                </svg>
                            </span></h4>
                    </div>
        
                    <div class="float-right"><button id="startConfetti" class="btn btn-outline-success" onclick="order(3, 'drink')">ORDER</button></div>
                    <div class="clearfix"></div>
                </div>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-12 ripple list-ripple" onclick="collapseFood(4)">
                <div class="float-left">
                    <h4 class="data-title">Product Title</h4>
                    <h5 class="data-description">Product Description</h5>
                </div>
                <div class="float-right text-right">
                    <h4 class="font-weight-bold data-price">6.79</h4>
                    <h5 style="color:#5ADE7D" class="data-discount">20% off</h5>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-12">
                <div class="collapse mt-4" id="collapse4">
                    <div class="float-left">
                        <h4 class="mt-2 mb-0">Quantity &nbsp;&nbsp;&nbsp;
                            <span onclick="decrementFood(4)" style="cursor:pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                    id="Capa_1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;"
                                    xml:space="preserve" width="40px" height="19px">
                                    <path d="M37.059,16H26H16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16h10h11.059C39.776,26,42,23.718,42,21  S39.776,16,37.059,16z"
                                        fill="#707070" />
                                </svg>
                            </span>
                            <span id="foodAmount4">01</span>
                            <span onclick="incrementFood(4)">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;"
                                    xml:space="preserve" width="40px" height="20px">
                                    <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69
                                                                                                        C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69
                                                                                                        s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z"
                                        fill="#707070" />
                                </svg>
                            </span></h4>
                    </div>
        
                    <div class="float-right"><button id="startConfetti" class="btn btn-outline-success" onclick="order(4, 'drink')">ORDER</button></div>
                    <div class="clearfix"></div>
                </div>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-12 ripple list-ripple" onclick="collapseFood(5)">
                <div class="float-left">
                    <h4 class="data-title">Product Title</h4>
                    <h5 class="data-description">Product Description</h5>
                </div>
                <div class="float-right text-right">
                    <h4 class="font-weight-bold data-price">6.79</h4>
                    <h5 style="color:#5ADE7D" class="data-discount">20% off</h5>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-12">
                <div class="collapse mt-4" id="collapse5">
                    <div class="float-left">
                        <h4 class="mt-2 mb-0">Quantity &nbsp;&nbsp;&nbsp;
                            <span onclick="decrementFood(5)" style="cursor:pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                    id="Capa_1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;"
                                    xml:space="preserve" width="40px" height="19px">
                                    <path d="M37.059,16H26H16H4.941C2.224,16,0,18.282,0,21s2.224,5,4.941,5H16h10h11.059C39.776,26,42,23.718,42,21  S39.776,16,37.059,16z"
                                        fill="#707070" />
                                </svg>
                            </span>
                            <span id="foodAmount5">01</span>
                            <span onclick="incrementFood(5)">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" viewBox="0 0 491.86 491.86" style="enable-background:new 0 0 491.86 491.86;"
                                    xml:space="preserve" width="40px" height="20px">
                                    <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69
                                                                                                        C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69
                                                                                                        s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z"
                                        fill="#707070" />
                                </svg>
                            </span></h4>
                    </div>
        
                    <div class="float-right"><button id="startConfetti" class="btn btn-outline-success" onclick="order(5, 'drink')">ORDER</button></div>
                    <div class="clearfix"></div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>