<div id="animation-wrapper" class="animated fadeIn">
    <div class="container">
        <header>
            <div class="h2">Drinks</div>
        </header>
        
        <div class="row">
            <div class="card col-12 drink-card-container">
                <div class="card-body drink-card-body">
                    <div class="float-left drink-card-titles">
                        <h5 class="featured-drink">Featured Drink</h5>
                        <h4 class="drink-title">Bahama Mamas</h4>
                    </div>
                    <div class="card col-3 float-right drink-price-container text-center">
                        <div class="drink-price font-weight-bold">6.49</div>
                        <div class="subtitle">20% off</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-4"></div>
        <div class="row">
            <div class="col-12">
                <h3>Alcoholic</h3>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Product Title</h4>
                <h5>Product Description</h5>
            </div>
        </div>
    </div>
</div>