<div id="animation-wrapper" class="animated fadeIn">
        <div class="logo">
                <a href="/" data-route>
                    <button class="btn btn-lg btn-success mt-2 ml-2">Back</button>
                </a>
            </div>

            <!--
                <h4 class="data-title">Product Title</h4>
                <h5 class="data-description">Product Description</h5>
                </div>
                <div class="float-right text-right">
                    <h4 class="data-price font-weight-bold">6.79</h4>
                    <h5 class="data-discount" style="color:#5ADE7D">20% off</h5>
            -->
    <div class="container">
        <div class="my-4"></div>
        <div class="row">
            <div class="card col-12 drink-card-container ripple">
                <div class="card-body drink-card-body">
                    <div class="float-left drink-card-titles">
                        <h5 class="featured-drink small">Featured Item</h5>
                        <h4 class="drink-title font-weight-bold featured-title" id="featured-title">Bahama Mamas</h4>
                    </div>
                    <div class="card col-3 float-right drink-price-container text-center">
                        <div class="drink-price" id="featured-price">6.49</div>
                        <div class="subtitle data-discount">20% off</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-4"></div>
        <div class="row">
            <div class="col-12">
                <h3>Appetizers</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-12 ripple list-ripple">
                <div class="float-left">
                    <h4 class="data-title">Product Title</h4>
                    <h5 class="data-description">Product Description</h5>
                </div>
                <div class="float-right text-right">
                    <h4 class="font-weight-bold data-price">6.79</h4>
                    <h5 style="color:#5ADE7D">20% off</h5>
                </div>
                <div class="clearfix"></div>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-12 ripple list-ripple">
                <div class="float-left">
                    <h4 class="data-title">Product Title</h4>
                    <h5 class="data-description">Product Description</h5>
                </div>
                <div class="float-right text-right">
                    <h4 class="font-weight-bold data-price">6.79</h4>
                </div>
                <div class="clearfix"></div>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-12 ripple list-ripple">
                <div class="float-left">
                    <h4 class="data-title">Product Title</h4>
                    <h5 class="data-description">Product Description</h5>
                </div>
                <div class="float-right">
                    <h4 class="font-weight-bold data-price">6.79</h4>
                </div>
                <div class="clearfix"></div>
                <hr />
            </div>
        </div>

        <div class="my-4"></div>
        <div class="row">
            <div class="col-12">
                <h3>Entrees</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-12 ripple list-ripple">
                <div class="float-left">
                    <h4 class="data-title">Product Title</h4>
                    <h5 class="data-description">Product Description</h5>
                </div>
                <div class="float-right text-right">
                    <h4 class="font-weight-bold data-price">6.79</h4>
                    <h5 style="color:#5ADE7D">20% off</h5>
                </div>
                <div class="clearfix"></div>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-12 ripple list-ripple">
                <div class="float-left">
                    <h4 class="data-title">Product Title</h4>
                    <h5 class="data-description">Product Description</h5>
                </div>
                <div class="float-right text-right">
                    <h4 class="font-weight-bold data-price">6.79</h4>
                </div>
                <div class="clearfix"></div>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-12 ripple list-ripple">
                <div class="float-left">
                    <h4 class="data-title">Product Title</h4>
                    <h5 class="data-description">Product Description</h5>
                </div>
                <div class="float-right">
                    <h4 class="font-weight-bold data-price">6.79</h4>
                </div>
                <div class="clearfix"></div>
                <hr />
            </div>
        </div>
    </div>
</div>