<div id="animation-wrapper" class="animated fadeIn">

    <div class="logo">

    </div>
    <a href="drinks" data-route>
        <div class="row">
            <div class="col">
                <div class="landing-card">
                    <h2 class="landing-card__text">Drinks</h2>
                </div>
            </div>
        </div>
    </a>
    <a href="food" data-route>
        <div class="row">
            <div class="col">
                <div class="landing-card">
                    <h2 class="landing-card__text">Food</h2>
                </div>
            </div>
        </div>
    </a>
    <a href="service" data-route>
        <div class="row">
            <div class="col">
                <div class="landing-card">
                    <h2 class="landing-card__text">Service</h2>
                </div>
            </div>
        </div>
    </a>
    <a href="bill" data-route>
        <div class="row">
            <div class="col">
                <div class="landing-card">
                    <h2 class="landing-card__text">Bills</h2>
                </div>
            </div>
        </div>
    </a>
</div>