<div id="animation-wrapper" class="animated fadeIn">

    <div class="container">
        <div class="row">
            <div class="col">
                Drinks
            </div>
            <div class="col">
                Food
            </div>
        </div>
        <div class="row">
            <div class="col">
                Service
            </div>
            <div class="col">
                Bill
            </div>
        </div>
    </div>

    <a href="drinks" data-route>Drinks</a>
</div>