<div id="animation-wrapper" class="animated fadeIn">

    <div class="logo">

    </div>
    <a href="drinks" data-route>
        <div class="row">
            <div class="col">
                <div class="landing-card drinks-hero">
                    <span class="landing-card__text promo-text">Drinks</span>
                </div>
            </div>
        </div>
    </a>
    <a href="food" data-route>
        <div class="row">
            <div class="col">
                <div class="landing-card food-hero">
                    <span class="landing-card__text promo-text">Food</span>
                </div>
            </div>
        </div>
    </a>
    <a href="service" data-route>
        <div class="row">
            <div class="col">
                <div class="landing-card service-hero">
                    <span class="landing-card__text promo-text">Service</span>
                </div>
            </div>
        </div>
    </a>
    <a href="bill" data-route>
        <div class="row">
            <div class="col">
                <div class="landing-card bills-hero">
                    <span class="landing-card__text promo-text">Bills</span>
                </div>
            </div>
        </div>
    </a>
</div>