<div id="animation-wrapper" class="animated fadeIn">

    <div class="logo">
        <a href="/" data-route>
            <button class="btn btn-lg btn-success mt-2 ml-2">Back</button>
        </a>
    </div>

    <a id="water">
        <div class="row">
            <div class="col">
                <div class="landing-card water-hero ripple" id="water">
                    <span class="landing-card__text promo-text">Water</span>
                </div>
            </div>
        </div>
    </a>
    <a id="waitressBtn">
        <div class="row">
            <div class="col">
                <div class="landing-card waiter-hero ripple">
                    <span class="landing-card__text promo-text">Waitress</span>
                </div>
            </div>
        </div>
    </a>
    <a id="cleanBtn">
        <div class="row">
            <div class="col">
                <div class="landing-card clear-table-hero ripple">
                    <span class="landing-card__text promo-text">Clear Table</span>
                </div>
            </div>
        </div>
    </a>

    <div id="waterModal" class="modal">

        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Water will be brought out shortly.</p>
        </div>
    </div>


</div>
