<div id="animation-wrapper" class="animated fadeIn">

        <div class="logo">
                <div style="height: 100%;" class="d-flex align-items-center">
                        <img id="user-img" style="margin: 0 24px;" src="../img/Jamie Jamieson.png" width="85px" height="85px" />
                        <h3 id="user-name" style="flex: 1; font-size: 30px; color: #707070; margin:0;">Jamie Jamieson</h3>
                </div>
            </div>

    <a id="waterBtn">
        <div class="row">
            <div class="col">
                <div class="landing-card service-hero ripple">
                    <span class="landing-card__text promo-text">Water</span>
                </div>
            </div>
        </div>
    </a>
    <a id="waitressBtn">
        <div class="row">
            <div class="col">
                <div class="landing-card service-hero ripple">
                    <span class="landing-card__text promo-text">Waitress</span>
                </div>
            </div>
        </div>
    </a>
    <a id="cleanBtn">
        <div class="row">
            <div class="col">
                <div class="landing-card service-hero ripple">
                    <span class="landing-card__text promo-text">Clear Table</span>
                </div>
            </div>
        </div>
    </a>

    <div id="waterModal" class="modal">
        <div class="modal-content">
            <p>Water will be brought out shortly.</p>
        </div>
    </div>

    <div id="waitressModal" class="modal">

        <div class="modal-content">
            <p>Staff will be with you shortly.</p>
        </div>
    </div>

    <div id="cleanModal" class="modal">

        <div class="modal-content">
            <p>Service is on its way.</p>
        </div>
    </div>


</div>
