<div id="animation-wrapper" class="animated fadeIn">
    <div class="logo">
        <div style="height: 100%;" class="d-flex align-items-center">
                <img id="user-img" style="margin-right: 15px; margin-left: 175px;" src="../img/Jamie Jamieson.png" width="50px" height="50px" />
                <h3 id="user-name" style="flex: 1; font-size: 30px; color: #707070; margin:0;">Jamie Jamieson</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Transfer Bill</h1>
                <hr />
            </div>
        </div>

        <!-- Drinks -->
        <div class="row">
            <div class="col-3 text-center">
                <div class="row">
                    <div class="col text-center">
                        <img src="../img/Share - Woman.png" />
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col text-center">
                        Julie Roberts
                    </div>
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="row">
                    <div class="col text-center">
                        <img src="../img/Share - Man.png" />
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col text-center">
                        Donny Roberts
                    </div>
                </div>
            </div>
            <div class="col-3 text-center">
                <div class="row">
                    <div class="col text-center">
                        <img src="../img/Share - Placeholder.png" />
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col text-center">
                        Grandpa
                    </div>
                </div>
            </div>
        </div>

        <!-- Discount -->
        <div class="row my-5">
            <div class="col">
                <div class="row">
                    <div class="col d-flex align-items-end">
                        <h3 style="margin: 0; font-size: 26px;">
                            Discount
                        </h3>
                    </div>
                    <div class="col d-flex align-items-end justify-content-end">
                        <span class="price-text green">12.89</span>
                    </div>
                </div>
                <hr style="margin-top: 4px;" />
            </div>
        </div>

        <!-- Sub total -->
        <div class="row my-4">
            <div class="col">
                <div class="row">
                    <div class="col d-flex align-items-end">
                        <h3 style="margin: 0; font-size: 26px;">
                            Subtotal
                        </h3>
                    </div>
                    <div class="col d-flex align-items-end justify-content-end">
                        <span class="price-text">17.82</span>
                    </div>
                </div>
                <hr style="margin-top: 4px;" />
            </div>
        </div>

        <!-- Tip % -->
        <div class="row my-4">
            <div class="col">
                <div class="row">
                    <div class="col d-flex align-items-end">
                        <h3 style="margin: 0; font-size: 26px;">
                            Tip %
                        </h3>
                    </div>
                    <div class="col d-flex align-items-end justify-content-end">
                        <span class="price-text">18%</span>
                    </div>
                </div>
                <hr style="margin-top: 4px;" />
            </div>
        </div>

        <!-- Total Amount -->
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col d-flex align-items-end">
                        <h1 style="margin: 0;">
                            Total Amount
                        </h1>
                    </div>
                    <div class="col d-flex align-items-end justify-content-end">
                        <span class="promo-text">$74.11</span>
                    </div>
                </div>
                <hr style="border: 2px solid black; margin-top: 4px;" />
            </div>
        </div>

        <!-- Share / Bill -->
        <div class="row mt-5">
            <div class="col">
                <a href="payment" data-route class="btn btn-block btn-outline-dark">TRANSFER</a>
            </div>
        </div>

    </div>

</div>